{% extends "base.html" %}

{% block title %}Test Generation | Watsonx for IPG Testing{% endblock %}

{% block content_title %}Test Generation & Refinement{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Test Execution</li>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Test Execution</h5>
        <p class="card-text">This is a placeholder for the Test Execution Module.</p>
    </div>
</div>
{% endblock %}